name: 'alt:V - Server'
host: 0.0.0.0
port: 7713
players: 20
announce: false
gamemode: Freeroam
website: twitch.tv/stuyksoft
language: en
description: ''
modules: [ node-module ]
resources: [ orp, hospital-pillbox, club-bahama, comedy-club ]
#token:
debug: true
streamingDistance: 300
password: no-password